# Q1) Write a function to find the max of three number.

In [1]:
def max(a,b,c):
    if a>=b and a>=c:
        largest = a
    elif b>=a and b>=c:
        largest = b
    else:
        largest = c
    
    return largest

a=12
b=34
c=89
print(max(a,b,c))

89

# Q2) Write a function to sum all the number in the list.

In [2]:
def sum():
    sum=[10,20,30,40,50]
    total=0
    for x in sum:
        total = total + x
    print("Sum of Item is " ,total)
sum()

Sum of Item is  150

# Q3) Write a function to multiply all the number in the list.

In [3]:
def multi():
    l=[1,2,3,4,11]
    total=1
    for x in l:
        total = total * x
    print("Product of Item is " ,total)
multi()

Product of Item is  264

# Q4) Write a function to reverse a string.

In [4]:
def rev():
    n=int(input('Enter a number'))
    r=0
    while n>0:
        d=n%10
        r=r*10+d
        n=n//10
    print(r)
rev()

Enter a number326
623

# Q5) Write a funtion to calculate the factorial of a number.

In [5]:
def fact():
    n=int(input('Enter a number'))
    f=1
    while n>0:
        f=f*n
        n=n-1
    print(f)
fact()

Enter a number5
120

# Q6) Write a function that accept a string and calculate the number of upper case letters and lower case letters.

In [7]:
x=input("Enter the string:- ")
def char(x):
    u=0
    l=0
    for i in x:
        if i>='a' and i<='z':
            l+=1

        if i >='A' and i<='Z':
            u+=1
    print("LowerCase letter in the String",l)
    print("UpperCase letter in the String",u)
char(x)

Enter the string:- Rubak
LowerCase letter in the String 4
UpperCase letter in the String 1

# Q7) Write a function that takes a list and return a new list with unique elements of the first list.

In [8]:
def f(l):
    x = []
    for a in l:
        if a not in x:
            x.append(a)
    return x

print(f([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]