# sum of all items in a list

In [3]:
lst = ['rubak','6','text','8','kumaran']
add = lst[0]+lst[1]+lst[2]+lst[3]+lst[4]
print('sum of list =', add)

sum of list = rubak6text8kumaran

# Multiply all items in list

In [5]:
 n= ['rubak',3]
mul = n[0]*n[1]
print('multiplication of list =', mul)

multiplication of list = rubakrubakrubak

# Largest number in list

In [6]:
n = [55 ,17 ,73 ,42]
print(n)
print('Largest number in list =', max(n))

[55, 17, 73, 42]
Largest number in list = 73

# Smallest number in list

In [7]:
n = [34 ,97 ,73 ,42]
print(n)
print('Smallest number in list =', min(n))

[34, 97, 73, 42]
Smallest number in list = 34

# Count of strings in a list

In [11]:
a= ['aba','cdc','efe','ghg']
count = 0
i = 0
for i in range(len(a)):
    count += 1
print('number of strings in list =', count)

number of strings in list = 4

# sum of list

In [10]:
l = [1, 2, 3, 4, 2, 1, 4, 6]
print(sum(l))

23

# square the numbers in list

In [12]:
numbers = [1, 2, 3, 4, 5]
squared = [number ** 2 for number in numbers]
print(squared)

[1, 4, 9, 16, 25]

# remove duplicate elements in list

In [13]:
l = [1, 2, 3, 4, 2, 1, 4, 5,3]
res = [*set(l)]
print("removed duplicate elements: ", res)

removed duplicate elements:  [1, 2, 3, 4, 5]

# exract the number from list

In [15]:
a= "Hi my age is 25 years"
print(a)
numbers = [int(a)for a in a.split() if a.isdigit()]
print(numbers)

Hi my age is 25 years
[25]

# multiply list by 10

In [16]:
numbers = [1, 2, 3, 4]
print(numbers*10)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]